body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgrFOqG6PjPhS0sFukUOQzE4GYBe8e7Rw56Q&usqp=CAU') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#home-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 60px rgba(173, 216, 230, 0.5);
}

#treasure-image {
    width: 500px;
    height: 500px;
}

#quiz-name {
    font-size: 55px;
    margin-top: 10px;
    color: #3498db;
}

#tagline {
    font-size: 25px; 
    color:#DDA0DD;
    font-style: italic; 
    padding-bottom: 15px;
}

 
#play-now-button {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 20px auto;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;
  }
  
 

#play-now-button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}


#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 60px rgba(173, 216, 230, 0.5);
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-style: solid;
    border-radius: 4px;
}

.btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

#feedback-container {
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
    color:#DDA0DD;
}

#timer-container {
    margin-top: 10px;
    font-weight: bold;
    color:#eee;
}

#next-button{
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 20px auto;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;

}

#next-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#score-container {
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
    color:aquamarine;
}

#question-text {
    font-size: 50px; 
    color: #fff;
}


/* .timer-container {
    margin-top: 10px;
}

.timer-container > svg {
    width: 200px;
    height: 200px;
}

.timer-container > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #FF69B4;
    stroke-width: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer-container > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer-container.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
}

.timer-container > svg > text {
    font-size: 2rem;
}

.timer-container > svg > text + text {
    font-size: 1rem;
} */

/* .timer-container {
    margin-top: 10px;
}

#timer-svg {
    width: 200px;
    height: 200px;
}

#timer-circle,
#timer-progress {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #FF69B4;
    stroke-width: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
}

#timer-progress {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer-container.animatable #timer-progress {
    transition: stroke-dashoffset 0.3s ease;
}

#timeLeft {
    font-size: 2rem;
    fill: #fff;
}

#timer-svg text + text {
    font-size: 1rem;
} */

.timer {
    margin-top: 10px;
}
  
.timer > svg {
    width: 200px;
    height: 200px;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #0d6efd;
    stroke-width: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
}

.timer > svg > text {
    font-size: 2rem;
}

.timer > svg > text + text {
    font-size: 1rem;
}


 